.App {
  text-align: center;
}

button:hover {
  box-shadow: 0 2px 3px #ccc;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}